html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0; 
  min-height: 100vh;
  /* max-width: 600px; */
  background-color: #f5f6f7;
}

/* General flex-style */
.d-flex {
  display: flex;
  flex-direction: row;
}

/* navbar style */
header {
background-color: #fff;
font-size: 12px;
/* width: 100%; */
}

ul {
  list-style: none;
  
  width: 60px;
}

li a {
  display: block;
    width: 60px;
}