* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* Universal flex */
.d-flex {
    display: flex;
    justify-content: space-evenly;
}

/* Nav-bar style */
.nav-underline .nav-link {
    color: #9FA5AD;
}
.nav-underline .nav-link:hover{
    color: #1387da;
}


/* Sidebar design */
.nav-pills li a i, span{
color: #9FA5AD;
}

.nav-pills li a:hover{
    background-color: blue;
}